*

# Allow-list
!/.gitignore
!/.github/
!/lib/
!/lib/embed/
!/lib/embed/**
!/cli/
!/nu/
!/examples/
!/spec/
!/docs/
!/scripts/
!/*.adoc
!/LICENSE*
!/README*
!/licenses/
!/licenses/**

!/.github/**
!/lib/**
!/cli/**
!/nu/**
!/examples/**
!/spec/**
!/docs/**
!/scripts/**

# Build / sidecars
**/__pycache__/
**/*.pyc
**/bin/
**/.dub/
**/dub.selections.json
**/*.exe
**/*.obj
**/*.o
**/*.lst
**/*.cmk.runs/
